@import '../mixins/prefix';
@import '../settings';

.#{prefix('alert')} {
  @include margin(true, $properties: padding);
  @include margin('auto', $properties: margin-bottom);
  display: flex;
  justify-content: flex-start;

  @include modifier('info') {
    background-color: var(--of-alert-info-bg);
  }

  @include modifier('error') {
    background-color: var(--of-alert-error-bg);

    .fa-icon {
      color: var(--of-color-danger);
    }
  }

  @include modifier('warning') {
    background-color: var(--of-alert-warning-bg);

    .fa-icon {
      color: var(--of-color-warning);
    }
  }

  @include modifier('with-margin') {
    margin: 1rem 0;
  }

  @include element('icon') {
    display: block;
    width: 1em;

    @include modifier('wide') {
      width: 2em;
    }
  }
}
