@use 'microscope-sass/lib/bem';

// Temporary CSS override to get the colour of the icon to work
.openforms-theme {
  .utrecht-alert {
    @include bem.modifier('error') {
      .utrecht-alert__icon {
        color: var(--utrecht-alert-icon-error-color);
      }
    }

    @include bem.modifier('info') {
      .utrecht-alert__icon {
        color: var(--utrecht-alert-icon-info-color);
      }
    }

    @include bem.modifier('warning') {
      .utrecht-alert__icon {
        color: var(--utrecht-alert-icon-warning-color);
      }
    }

    @include bem.modifier('ok') {
      .utrecht-alert__icon {
        color: var(--utrecht-alert-icon-ok-color);
      }
    }
  }
}
