@import '~microscope-sass/lib/bem';
@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/typography';

@import '@utrecht/components/dist/link-button/css/index.css';

@import '../mixins/prefix';
@import '../mixins/anchor';

.#{prefix('anchor')} {
  @include text;
  @include of-anchor;

  @include modifier('hover') {
    text-decoration: var(--utrecht-link-hover-text-decoration, none);

    &:hover {
      text-decoration: var(--utrecht-link-text-decoration, underline);
    }
  }

  @include modifier('active') {
    font-weight: bold;
  }

  @include modifier('inherit') {
    color: inherit !important;
  }

  @include modifier('muted') {
    color: var(--of-color-fg-muted) !important;
  }

  &--active#{&}--muted,
  &--muted:hover {
    color: var(--of-color-fg) !important;
  }

  @include modifier('indent') {
    padding-left: 0.6em;
  }
}
