@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix('anchor')} {
  @include text;

  &:not(#{&}--hover) {
    @include anchor;
  }
  @include modifier('hover') {
    @include anchor(true);
  }

  @include modifier('active') {
    font-weight: bold;
  }

  @include modifier('inherit') {
    color: inherit!important;
  }

  @include modifier('muted') {
    color: var(--of-color-fg-muted) !important;
  }

  &--active#{&}--muted,
  &--muted:hover {
    color: var(--of-color-fg) !important;
  }

  @include modifier('indent') {
    padding-left: 0.6em;
  }
}
