@import '~microscope-sass/lib/bem';
@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/typography';

@import '@utrecht/components/dist/link-button/css/index.css';
@import '@utrecht/components/dist/link/css/index';

@import '../mixins/prefix';

.#{prefix('anchor')} {
  @include text;
  @extend .utrecht-link;

  // TODO: Remove if it is added to the utrecht-link style
  &:visited:hover {
    color: var(--utrecht-link-hover-color);
  }

  @include modifier('hover') {
    text-decoration: var(--utrecht-link-hover-text-decoration, none);

    &:hover {
      text-decoration: var(--utrecht-link-text-decoration, underline) !important;
    }
  }

  @include modifier('active') {
    font-weight: bold;
  }

  @include modifier('inherit') {
    color: inherit !important;
  }

  @include modifier('muted') {
    color: var(--of-color-fg-muted) !important;
  }

  &--active#{&}--muted,
  &--muted:hover {
    color: var(--of-color-fg) !important;
  }

  @include modifier('indent') {
    padding-left: 0.6em;
  }
}
