/**
 * The OpenForms Anchor component wraps around and extends the .utrecht-link component.
 *
 * Our own .openforms-anchor is being phased out in favour of
 * .utrecht-link--openforms-<foo> extensions.
 *
 * TODO: there are probably some gains in implementing/overriding :visited, :hover and/or
 * :active states for some variants.
 */
@use 'microscope-sass/lib/bem';

@import '@utrecht/components/dist/link-button/css/index.css';
@import '@utrecht/components/dist/link/css/index'; // emits the .utrecht-link {...} styles

/**
 * Extensions of the utrecht-link component with OF-specific styles.
 */
.utrecht-link {
  @include bem.modifier('openforms') {
    font-family: var(
      --of-utrecht-link-font-family,
      var(--of-typography-sans-serif-font-family, var(--utrecht-document-font-family))
    );
    margin: 0;
  }

  // swap the hover/no-hover text decoration rules compared to the non-modified variant
  @include bem.modifier('openforms-hover') {
    text-decoration: var(--utrecht-link-hover-text-decoration);

    &:hover {
      text-decoration: var(--utrecht-link-text-decoration);
    }
  }

  @include bem.modifier('openforms-inherit') {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

/**
 * Apply the standard link styles (without modifiers) to the anchor tags.

 * For WYSIWYG-like content where classnames cannot be controlled.
 */
@mixin extend-utrecht-link() {
  a {
    @extend .utrecht-link, .utrecht-link--openforms;
  }
}
