@use 'microscope-sass/lib/bem';

// @import instead of @use because breakpoints are defined globally
@import 'microscope-sass/lib/responsive';

/**
 * Custom component to manage our form layout. This is the outermost element managed
 * by the SDK.
 *
 * The default values are added for backwards compatibility.
 */
.openforms-app {
  display: grid;
  grid-column-gap: var(--of-app-grid-column-gap, 20px);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'lang-switcher lang-switcher'
    'body          progress-indicator'
    'debug         debug';
  position: relative;

  // When there's no progress indicator, stretch the main content
  // over both containers.
  @include bem.modifier('no-progress-indicator') {
    @include bem.element('body') {
      grid-row-start: body;
      grid-row-end: progress-indicator;
      grid-column-start: body;
      grid-column-end: progress-indicator;
    }
  }

  @include bem.element('language-switcher') {
    grid-area: lang-switcher;
    display: flex;
  }

  @include bem.element('body') {
    grid-area: body;
  }

  @include bem.element('progress-indicator') {
    grid-area: progress-indicator;
  }

  @include bem.element('debug') {
    grid-area: debug;
    margin-block-start: 2em;
  }

  // Responsive styles - switch to a column layout and re-order elements.
  @include mobile-only {
    // https://stackoverflow.com/a/63609468 just 1fr doesn't work, but minmax does?
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      'progress-indicator'
      'lang-switcher'
      'body'
      'debug';
    grid-row-gap: var(--of-app-mobile-grid-row-gap, 0);

    padding-block-end: var(--of-app-mobile-padding-block-end, 15px);
    padding-block-start: var(--of-app-mobile-padding-block-start, 0);
    padding-inline-end: var(--of-app-mobile-padding-inline-end, 15px);
    padding-inline-start: var(--of-app-mobile-padding-inline-start, 15px);

    @include bem.element('progress-indicator') {
      margin-inline-end: var(--of-app-progress-indicator-mobile-margin-inline-end, -15px);
      margin-inline-start: var(--of-app-progress-indicator-mobile-margin-inline-start, -15px);

      // on mobile, the order of elements is swapped and to keep the progress indicator
      // in view, we need to apply the positioning to this element rather than
      // .openforms-progress-indicator
      position: sticky;
      inset-block-start: var(--of-app-mobile-progress-indicator-inset-block-start, 0px);
      z-index: 1;
    }
  }
}
