@use "sass:math";

@import '~microscope-sass/lib/grid';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(button)} {
  @extend .denhaag-button;

  float: left;

  @media print {
    display: none;
  }

  &:not([aria-disabled="true"]) {
    cursor: pointer;
  }

  // styling for disabled button
  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.5;
    filter: saturate(0);
  }

  @include modifier('image') {
    @include rows(1);
    padding: 0;
    cursor: default;
    border: none;
  }

  @include modifier('primary') {
  }
}
