@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix('card')} {
  @include color-background;
  padding: $grid-margin-8;
  box-sizing: border-box;

  @include mobile-only {
    @include container-margin($properties: padding);

    @include bem.element('header') {
      &:not(:last-child) {
        margin-bottom: $grid-margin-2;
      }
    }

    @include bem.modifier('mobile-header-hidden') {
      @include bem.element('header') {
        display: none;
      }
    }
  }

  @include bem.element('body') {
    @include rows(1, margin-top);

    @include mobile-only {
      @include rows(0, margin-top);
    }
  }
}
