@use 'microscope-sass/lib/bem';

@import 'microscope-sass/lib/grid';
@import 'microscope-sass/lib/typography';

@import '../mixins/prefix';

@mixin card($block: 'card') {
  background-color: var(--of-#{$block}-background-color, var(--of-color-bg));
  box-sizing: border-box;
  padding-block-end: var(--of-#{$block}-padding-block-end, 40px);
  padding-block-start: var(--of-#{$block}-padding-block-start, 40px);
  padding-inline-end: var(--of-#{$block}-padding-inline-end, 40px);
  padding-inline-start: var(--of-#{$block}-padding-inline-start, 40px);
  inline-size: 100%;
}

.openforms-card {
  @include card;

  @include bem.element('header') {
    @include bem.modifier('padded') {
      @include rows(1, padding-bottom);
    }
  }

  @include mobile-only {
    @include container-margin($properties: padding);

    @include bem.element('header') {
      @include bem.modifier('padded') {
        padding-bottom: $grid-margin-2;
      }
    }

    // If there are cards with multiple headers inside, we should not necessarily hide all nested headers,
    // so we only hide the first child
    &--mobile-header-hidden > &__header {
      display: none;
    }
  }

  @include bem.element('body') {
    @include rows(1, margin-top);

    @include mobile-only {
      @include rows(0, margin-top);
    }
  }
}
