@use '@bbt/bem';
@use '@open-formulieren/formio-renderer/scss/responsive';

@mixin card($block: 'card') {
  background-color: var(--of-#{$block}-background-color, var(--of-color-bg));
  box-sizing: border-box;
  padding-block-end: var(--of-#{$block}-padding-block-end, 40px);
  padding-block-start: var(--of-#{$block}-padding-block-start, 40px);
  padding-inline-end: var(--of-#{$block}-padding-inline-end, 40px);
  padding-inline-start: var(--of-#{$block}-padding-inline-start, 40px);
  inline-size: 100%;
}

.openforms-card {
  @include card;

  @include bem.element('header') {
    @include bem.modifier('padded') {
      padding-block-end: var(--of-card-header-padded-padding-block-end, 20px);
    }
  }

  @include bem.element('body') {
    display: flex;
    flex-direction: column;
    row-gap: var(--of-card-body-row-gap, 20px);
    margin-block-start: var(--of-card-body-margin-block-start, 40px);

    // override of SDK styles to avoid double spacing
    > .openforms-loading-indicator + * {
      margin-block-start: 0;
    }
  }

  @include bem.element('alert') {
    &:not(:last-child) {
      margin-block-end: 20px;
    }
  }

  @include bem.modifier('spaced-children') {
    @include bem.element('body') {
      display: flex;
      flex-direction: column;
      row-gap: var(--of-card-spaced-children-body-row-gap, 20px);
    }
  }
}

@include responsive.mobile-only {
  .openforms-card {
    padding: 15px;

    @include bem.element('header') {
      @include bem.modifier('padded') {
        padding-block-end: 12px;
      }
    }

    // If there are cards with multiple headers inside, we should not necessarily hide all nested headers,
    // so we only hide the first child
    &--mobile-header-hidden > &__header {
      display: none;
    }

    @include bem.element('body') {
      margin-block-start: 0;
    }
  }
}
