@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/transform';
@import '~microscope-sass/lib/typography';
@import '~microscope-sass/lib/util';

@import '../mixins/bem';
@import '../mixins/prefix';

$checkbox-checkmark-size: 1em * strip_unit($typography-line-height-text-big) !default;
$checkbox-label-padding-v: calc(
  (#{$grid-row-height} - #{1em * strip_unit($typography-line-height-text-big)}) / 2
) !default;
$checkbox-label-padding-h: $grid-margin-2 !default;
$checkbox-label-padding-left: calc(
  #{1em * strip_unit($typography-line-height-text-big)} + #{$grid-margin-2 * 2}
) !default;

.#{prefix(checkbox)} {
  @include body;
  @include body--big;
  @include rows(1, min-height);
  display: flex;
  align-items: center;
  background-color: var(--of-checkbox-bg);
  position: relative;

  &__label {
    padding: $checkbox-label-padding-v $checkbox-label-padding-h $checkbox-label-padding-v
      $checkbox-label-padding-left;
    width: 100%;
    cursor: pointer;
    position: relative; // Important: without it if you click on the checkmark, it won't select/unselect the item
    word-break: break-word;
  }

  & :focus ~ &__label {
    @include outline(var(--of-color-info));
  }

  &__checkmark {
    @include absolute($checkbox-label-padding-v, $checkbox-label-padding-h);
    @include border(all, $color: var(--of-field-border-color));

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--of-color-bg);
    width: $checkbox-checkmark-size;
    height: $checkbox-checkmark-size;
    cursor: pointer;
  }

  & :checked ~ &__checkmark {
    background-color: var(--of-color-primary);
  }

  [type='checkbox'],
  [type='radio'] {
    @include absolute($checkbox-label-padding-v, $checkbox-label-padding-h);
  }

  // Style specific for selectboxes
  & [type='checkbox']:checked ~ &__checkmark:after {
    content: '\2714';
    color: var(--of-color-bg);
  }

  // Style specific for radio
  & [type='radio'] ~ &__checkmark {
    @include rounded;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & [type='radio']:checked ~ &__checkmark:after {
    @include rounded;
    display: block;
    content: '';
    background-color: var(--of-color-bg);
    width: 0.4em;
    height: 0.4em;
  }
}
