@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix('co-sign')} {
  @include bem.element('representation') {
    @include border(all, $size: 1px);
    background-color: var(--of-cosign-bg);
    padding: $grid-margin-2;
  }

  .#{prefix('alert')} .#{prefix('body')} {
    margin-top: 0;
  }
}
