@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(form-control)} {

  @include modifier('columns') {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 0 -15px;

    & > div:not(.openforms-errors) {
      max-width: 45%;
      width: 100%;
      position: relative;
      margin: 0 15px;
    }

    & > div:last-child {
      margin: 0 0 0 15px;
    }
  }
}
