@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

// the html div doesn't get it's own class name, but it is part of the form-control--content
// component

.#{prefix(form-control)} {

  @include modifier('content') {
    @include responsive($properties: margin-top, $value-mobile: $grid-margin-3, $value-tablet: $grid-margin-4);
    padding-top: 0 !important;

    [ref="html"] {
      @include wysiwyg;
      @include body;
      @include body--big;
      width: 100%;
    }
  }
}
