@use 'microscope-sass/lib/bem';
@use './anchor';

@import 'microscope-sass/lib/typography';

@import '../mixins/prefix';

$formio-content-variants: 'error', 'warning', 'success', 'info';

@mixin formio-content-variant($variant) {
  border-inline-start-color: var(
    --of-formio-content-#{$variant}-border-inline-start-color,
    var(--of-color-#{$variant})
  );
  border-inline-start-style: var(--of-formio-content-#{$variant}-border-inline-start-style, solid);
  border-inline-start-width: var(--of-formio-content-#{$variant}-border-inline-start-width, 4px);
  padding-inline-start: var(--of-formio-content-#{$variant}-padding-inline-start, 16px);
}

// See src/formio/components/Content.js
.openforms-formio-content {
  // apply all wysiwyg styling
  // TODO: parametrize this with design tokens -> check with NL DS how to approach this
  @include wysiwyg;
  @include body;
  @include body--big;

  // In case of large, view breaking, content like; images, tables, etc.
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: auto;

  // Below this line is okay and in line with NL DS principles
  @include anchor.extend-utrecht-link;
  inline-size: var(--of-formio-content-inline-size, 100%);
  max-inline-size: var(
    --of-formio-content-max-inline-size,
    var(--utrecht-form-field-max-inline-size)
  );

  @each $variant in $formio-content-variants {
    @include bem.modifier($variant) {
      @include formio-content-variant($variant);
    }
  }
}
