@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/responsive';

@mixin component-type-overrides($component-type) {
  .utrecht-data-list__item-key {
    font-size: var(--of-utrecht-data-list-item-key-#{$component-type}-font-size, 0.875rem);
    font-weight: var(--of-utrecht-data-list-item-key-#{$component-type}-font-weight, 700);
    line-height: var(--of-utrecht-data-list-item-key-#{$component-type}-line-height, 1.2);
    margin-block-end: var(
      --of-utrecht-data-list-item-key-#{$component-type}-margin-block-end,
      0.5rem
    );
  }
  &:not(:first-child) {
    margin-block-start: var(
      --of-utrecht-data-list-item-#{$component-type}-margin-block-start,
      20px
    );
  }
}

/**
 * Extensions on the utrecht-data-list component.
 *
 * Reference: https://nl-design-system.github.io/utrecht/storybook/?path=/docs/css_css-data-list--docs
 */
.utrecht-data-list {
  @include bem.modifier('openforms') {
    display: flex;
    flex-direction: column;
    gap: var(--of-utrecht-data-list-gap, var(--of-summary-row-spacing));
    padding-block-start: var(
      --of-utrecht-data-list-padding-block-start,
      var(--of-summary-row-spacing)
    );
    padding-block-end: var(
      --of-utrecht-data-list-padding-block-end,
      calc(2 * var(--of-summary-row-spacing))
    );

    @include bem.element('item') {
      gap: var(--of-utrecht-data-list-item-gap, 8px);

      // Styling modifications for specific component types
      @include bem.modifier('openforms-fieldset') {
        @include component-type-overrides('fieldset');
      }

      @include bem.modifier('openforms-editgrid') {
        @include component-type-overrides('editgrid');
      }
    }

    @include bem.element('item-key') {
      overflow-wrap: break-word;
      flex-basis: 50%;
    }

    @include bem.element('item-value') {
      overflow-wrap: break-word;
      flex-basis: 50%;
    }

    @include laptop {
      @include bem.element('item') {
        display: flex;
      }

      @include bem.element('item-key') {
        font-weight: var(--of-utrecht-data-list-item-key-laptop-font-weight, 700);
      }
    }
  }
}

// TODO: move to design tokens repository
.openforms-theme {
  --of-utrecht-data-list-padding-block-end: 20px;

  // apply body text styling
  --utrecht-data-list-item-key-color: var(--of-color-fg);
  --utrecht-data-list-item-key-font-size: 1rem;
  --utrecht-data-list-item-key-font-weight: 700;
  --utrecht-data-list-item-key-line-height: 1.5;
  --of-utrecht-data-list-item-key-laptop-font-weight: 400;

  --utrecht-data-list-item-value-color: var(--of-color-fg);
  --utrecht-data-list-item-value-font-size: 1rem;
  --utrecht-data-list-item-value-line-height: 1.5;
}
