@import '../mixins/prefix';

.#{prefix(disabled-clickable-button)} {
  position: relative;

  &__clickable-wrap::before {
    cursor: var(--utrecht-action-disabled-cursor, not-allowed);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
