@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';


.#{prefix(editgrid)} {
  @include body;

  ul {
    padding: 0;
  }

  &__group {
    padding: $grid-margin-4;
    border-style: solid;
    border-width: thin;
    border-color: $color-border;

    &:not(:first-child) {
      border-top-style: none;
    }
  }

  &__group-label {
    @include h4;
    padding-bottom: $grid-margin-4;
  }

  &__list {
    list-style: none;
  }

  &__group-actions {
    padding-top: $grid-margin-2;
  }

  &__add-button {
    display: flex;
    width: 100%;
    padding: $grid-margin-2 0;
  }
}
