@use 'microscope-sass/lib/bem';

@import '@utrecht/components/dist/form-field-description/css/index.css';

// Extensions available to all themes
.utrecht-form-field-description {
  @include bem.modifier('openforms-errors') {
    overflow-wrap: break-word;
    font-weight: var(--of-utrecht-form-field-description-errors-font-weight, inherit);
    line-height: var(--of-utrecht-form-field-description-errors-line-height, inherit);
  }
}

// Extensions scoped to our own theme
.openforms-theme {
  .utrecht-form-field-description {
    @include bem.modifier('openforms-errors') {
      &:empty {
        --utrecht-form-field-description-margin-block-start: 0;
      }
    }
  }
}
