@import '@utrecht/components/dist/form-field-description/css/index.css';

@import '../mixins/bem';

.utrecht-form-field-description {
  @include modifier('openforms-errors') {
    --utrecht-form-field-description-font-size: var(--of-text-big-font-size, inherit);

    @include margin($value-mobile: $typography-margin-list);
    font-weight: bold;
    line-height: $typography-line-height-text-big;
    overflow-wrap: break-word;
  }
}
