@use "sass:math";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~microscope-sass/lib/typography';

.fa-icon {
  vertical-align: middle;

  &--small {
    font-size: 0.5em;
  }

  &--normal {
    font-size: 1em;
  }

  &--inline {
    @include margin(
      math.div($typography-margin-text, 2),
      $properties: margin-right
    );
  };
}
