@import '~microscope-sass/lib/typography';
@import '~microscope-sass/lib/color';

@import '../mixins/prefix';

.#{prefix(fieldset)} {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: black;
  padding: 0;
  margin: 0;

  &--no-header {
    border-width: 0;
  }

  // fix for file upload overflowing, https://github.com/open-formulieren/open-forms/issues/1316
  min-inline-size: 100%; // instead of browser default of min-content

  .#{prefix(legend)} {
    @include body;
    @include body--big;
    margin-left: 1em;
    padding: 1em 5px;
    color: var(--of-fieldset-legend-color);
    font-size: $typography-font-size-h5;
  }
}
