@import '~microscope-sass/lib/typography';
@import '~microscope-sass/lib/color';

@import '../mixins/prefix';

.#{prefix(fieldset)} {
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  padding: 0px;

  .#{prefix(legend)} {
    @include body;
    @include body--big;
    margin-left: 1em;
    padding: 1em 5px;
    color: var(--color-blue, $color-blue);
    font-size: var(--typography-font-size-h5, $typography-font-size-h5);
  }
}
