/*
The markup uses bootstrap templates by default and is pretty complex. For that reason
we don't have strict BEM naming here.
 */
@use "sass:math";

@import '~microscope-sass/lib/typography';
@import '~microscope-sass/lib/responsive';

@import '../mixins/prefix';
@import '../mixins/bootstrap';


.#{prefix(form-control--file)} {
  @include body;

  a {
    @extend .#{prefix('anchor')};
  }

  .list-group {
    padding: 0;
    margin: 0;
    list-style: none;
    @include margin(auto);

    .list-group-header {
      @include hide-on-mobile(block);

      .row {
        border-bottom: solid 1px $color-border;
      }
    }

    .list-group-item {
      @include responsive(padding-top, $grid-margin-1, $grid-margin-1, $grid-margin-1, $grid-margin-1);
    }
  }

  .fileSelector {
    position: relative;
    padding-block: 40px;
    padding-inline: 8px;
    border-color: var(--utrecht-form-input-border-color);
    border-radius: var(--utrecht-form-input-border-radius);
    border-style: solid;
    border-width: var(--utrecht-form-input-border-width);
    text-align: center;
    display: flex;
    flex-direction: column;

    &.fileDragOver {
      border-color: $color-primary;
    }

    & + .file {
      margin-top: $grid-container-margin-small;
    }
  }
}

.#{prefix(form-control--image)} {

  > div:nth-child(3) > div {

    @include responsive(padding, $grid-margin-1, $grid-margin-1, $grid-margin-1, $grid-margin-1);

    > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  button[ref="takePictureButton"],
  button[ref="toggleCameraMode"] {
    @extend .utrecht-button;
    float: none;
    @include mobile-only {
      font-size: 90%;
      @include margin($grid-margin-0, $properties: padding);
    }
  }
}

.openforms-file-upload__file {
  border-color: var(--utrecht-form-input-border-color);
  border-style: solid;
  border-width: var(--utrecht-form-input-border-width);
  min-height: 77px;
  padding-inline-end: 16px;
  display: flex;
  flex-direction: row;
}

.openforms-file-upload__file-icon-container {
  padding-inline: 16px;
  display: flex;
  align-items: center;
  background-color: var(--denhaag-color-warmgrey-1);
}

.openforms-file-upload__file-icon {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNSIgdmlld0JveD0iMCAwIDI0IDI1IiBmaWxsPSJub25lIj4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTMgMi41SDZDNS40Njk1NyAyLjUgNC45NjA4NiAyLjcxMDcxIDQuNTg1NzkgMy4wODU3OUM0LjIxMDcxIDMuNDYwODYgNCAzLjk2OTU3IDQgNC41VjIwLjVDNCAyMS4wMzA0IDQuMjEwNzEgMjEuNTM5MSA0LjU4NTc5IDIxLjkxNDJDNC45NjA4NiAyMi4yODkzIDUuNDY5NTcgMjIuNSA2IDIyLjVIMThDMTguNTMwNCAyMi41IDE5LjAzOTEgMjIuMjg5MyAxOS40MTQyIDIxLjkxNDJDMTkuNzg5MyAyMS41MzkxIDIwIDIxLjAzMDQgMjAgMjAuNVY5LjVMMTMgMi41WiIgc3Ryb2tlPSIjNEI0QjRCIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMyAyLjVWOS41SDIwIiBzdHJva2U9IiM0QjRCNEIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CiAgICAgICAgICAgICAgICA8L3N2Zz4=');
  width: 24px;
  height: 24px;
}

.openforms-file-upload__file-label-container {
  color: var(--utrecht-form-input-color);
  column-gap: 1ch;
  display: flex;
  font-family: var(--utrecht-form-input-font-family);
  font-size: var(--utrecht-form-input-font-size);
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  line-height: var(--denhaag-form-input-line-height);
  margin-inline-start: 16px;
  padding-block: 16px;
}

.openforms-file-upload__file-error {
  color: var(--denhaag-form-field-description-error-color);
  font-family: var(--denhaag-form-field-description-font-family);
  font-size: var(--denhaag-form-field-description-font-size);
  font-weight: var(--denhaag-form-field-description-font-weight);
  line-height: var(--denhaag-form-field-description-line-height);
}

.openforms-file-upload__file .denhaag-icon-button {
  align-self: center;
  color: red;
  font-size: 20px;
  cursor: pointer;
}
