/*
The markup uses bootstrap templates by default and is pretty complex. For that reason
we don't have strict BEM naming here.
 */
@use 'sass:math';
@use './anchor';

@import '~microscope-sass/lib/typography';
@import '~microscope-sass/lib/responsive';

@import '../mixins/prefix';
@import '../mixins/bootstrap';

.#{prefix(form-control--file)} {
  @include body;
  @include anchor.extend-utrecht-link;

  .list-group {
    padding: 0;
    margin: 0;
    list-style: none;
    @include margin(auto);

    .list-group-header {
      @include hide-on-mobile(block);

      .row {
        border-bottom: solid 1px var(--of-color-border);
      }
    }

    .list-group-item {
      @include responsive(
        padding-top,
        $grid-margin-1,
        $grid-margin-1,
        $grid-margin-1,
        $grid-margin-1
      );
    }
  }

  .row {
    display: flex;
    align-items: center;

    .col-md-1 {
      @include bootstrap-span(width, 1);
      @include mobile-only {
        flex-grow: 1;
      }
    }
    .col-md-2 {
      @include bootstrap-span(width, 2);
      @include mobile-only {
        flex-grow: 2;
      }
    }
    .col-md-7 {
      @include bootstrap-span(width, 7);
      @include mobile-only {
        flex-grow: 1;
      }
    }
    .col-md-9 {
      @include bootstrap-span(width, 9);
      @include mobile-only {
        flex-grow: 5;
      }
      overflow-wrap: break-word;
    }

    .col-sm-2 {
      @include bootstrap-span(width, 2);
    }
    .col-sm-10 {
      @include bootstrap-span(width, 10);
    }
  }

  .fileSelector {
    position: relative;
    @include margin(var(--of-file-upload-drop-area-padding), $properties: padding);
    border: 3px dashed var(--of-field-border-color);
    text-align: center;

    &.fileDragOver {
      border-color: var(--of-color-primary);
    }

    & + .file {
      margin-top: $grid-container-margin-small;
    }
  }

  .file {
    @include body;
    @include body--big;

    &.has-error {
      @include border(left, $color-danger, 4px);
      padding-left: $grid-margin-3;
    }

    .fileName {
      display: flex;
      align-items: center;

      &__file {
        @include ellipsis;
        display: inline-block;
        max-width: calc(100% - 2em);
      }

      [ref='fileStatusRemove'] {
        cursor: pointer;
        margin-left: 0.4em;
        opacity: 0.6;
        transition: all 0.4s ease;

        &:hover {
          opacity: 1;
          color: $color-danger;
        }
      }
    }
  }

  .bg-error {
    @extend .utrecht-form-field-description--openforms-errors;
  }
}

.#{prefix(form-control--image)} {
  > div:nth-child(3) > div {
    @include responsive(padding, $grid-margin-1, $grid-margin-1, $grid-margin-1, $grid-margin-1);

    > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  button[ref='takePictureButton'],
  button[ref='toggleCameraMode'] {
    @extend .#{prefix('button')};
    @extend .#{prefix('button--primary')};
    display: inline-block;
    float: none;
    @include mobile-only {
      font-size: 90%;
      @include margin($grid-margin-0, $properties: padding);
    }
  }
}

// hide the input element generated by Formio file upload component (GH #2692)
.#{prefix('file-upload-input')} {
  display: none;
}
