@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(form-control)} {
  @extend .denhaag-form-field;

  &:not(:first-child) {
    margin-top: 32px;
  }

  @include modifier('hidden') {
    display: none;
  }

  &[class*="error"] {
    @include border(left, $color-danger, 4px);
    padding-left: $grid-margin-3;
  }

  &--no-asterisks {
    .required-field:after {
      // Override the asterisk
      content: "" !important;
    }
  }

  // Overwriting Formio style
  .control-label--hidden {
    position: static !important;
  }

  .has-error {
    @extend .denhaag-form-field--error;

    .denhaag-form-field__description {
      display: none;
    }

    .openforms-errors.denhaag-form-field__description {
      display: block;
    }
  }

}
