@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(form-control)} {
  position: relative;

  // add vertical space/padding on top for elements except the first child in a container
  // This is sort of the inverse of @include margin(auto) which operates on the last-child.
  &:not(:first-child) {
    @include responsive($properties: padding-top, $value-mobile: $grid-margin-3, $value-tablet: $grid-margin-4);
  }

  @include modifier('hidden') {
    display: none;
  }

  &.error {
    @include border(left, var(--of-color-danger), 4px);
    padding-left: $grid-margin-3;
  }

  &.warning {
    @include border(left, var(--of-color-warning), 4px);
    padding-left: $grid-margin-3;
  }

  &.success {
    @include border(left, var(--of-color-success), 4px);
    padding-left: $grid-margin-3;
  }

  &.info {
    @include border(left, var(--of-color-info), 4px);
    padding-left: $grid-margin-3;
  }

  &.formio-error-wrapper,
  &.has-error {
    @include border(left, var(--of-color-danger), 4px);
    padding: $grid-margin-3;
    background-color: var(--of-alert-error-bg);
  }

  .#{prefix(errors)},
  .#{prefix(label)} {
    @include margin($value-mobile: $typography-margin-list);
    overflow-wrap: break-word;
  }

  .#{prefix(prefix)} {
    @include margin($value-mobile: $typography-margin-list);
  }

  .#{prefix(body)},
  .#{prefix(help-text)},
  .#{prefix(suffix)} {
    @include margin(true, margin-top, $value-mobile: $typography-margin-list);
  }

  .#{prefix(body)} {
    display: block;
  }

  &--no-asterisks {
    .required-field:after {
      // Override the asterisk
      content: "" !important;
    }
  }

  .group {
    display: flex;
    align-items: center;
  }

  // Overwriting Formio style
  .control-label--hidden {
    position: static !important;
  }
}
