@use 'microscope-sass/lib/bem';

// Proper alignment of verify button and email input
.utrecht-form-field {
  @include bem.modifier('has-button') {
    div[ref='element'],
    .openforms-multi-value-row__input {
      display: flex;
      flex-direction: column;
      gap: var(--of-utrecht-form-field-with-button-gap, 10px);
    }
  }
}

// Overrides of the utrecht form field styles for our own theme
.openforms-theme {
  .utrecht-form-field {
    @include bem.modifier('openforms') {
      background-color: var(--of-utrecht-form-field-background-color, unset);

      &.utrecht-form-field--invalid {
        --of-utrecht-form-field-background-color: var(
          --utrecht-alert-error-background-color,
          var(--of-alert-error-bg)
        );
        // apply padding in all dimensions for error state
        padding-inline-end: var(--utrecht-form-field-invalid-padding-inline-start);
        padding-block-start: var(--utrecht-form-field-invalid-padding-inline-start);
        padding-block-end: var(--utrecht-form-field-invalid-padding-inline-start);
      }
    }
  }
  .utrecht-form-fieldset {
    @include bem.modifier('openforms') {
      background-color: var(--of-utrecht-form-field-background-color, unset);

      &.utrecht-form-fieldset--invalid {
        --of-utrecht-form-field-background-color: var(
          --utrecht-alert-error-background-color,
          var(--of-alert-error-bg)
        );
        // apply padding in all dimensions for error state
        padding-inline-end: var(--utrecht-form-field-invalid-padding-inline-start);
        padding-block-start: var(--utrecht-form-field-invalid-padding-inline-start);
        padding-block-end: var(--utrecht-form-field-invalid-padding-inline-start);
      }

      .utrecht-form-field-description {
        --utrecht-space-around: 1;
      }
    }
  }
}
