@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(form-choices)} {
  list-style: none;
  margin: 0;
  padding: 0;

  &__choice {
    @include margin($value-mobile: var(--typography-margin-list, $typography-margin-list));
  }
}
