@use 'microscope-sass/lib/bem';

/**
 * NL DS is discussing spacing between form fields, for the time being we need to
 * solve this ourselves.
 *
 * The canonical component for this is "openforms-form-field-container", but note that
 * we also target some other classes to share these styles because of formio reasons.
 *
 * This is the path of least resistance to achieve our goals and rip out form-control
 * components.
 */
.openforms-form-field-container {
  display: flex;
  flex-direction: column;
  gap: var(--of-form-field-container-gap, 24px); // 24px fallback for backwards compatibilty
}

// class set on the top-level formio form which renders its 'components' (
// ``configuration.components`` in JSON)
.formio-form {
  @extend .openforms-form-field-container;
}
