@import '../mixins/bem';

.#{prefix(form-control)} {
  @extend .denhaag-form-field;

  &:not(:first-child) {
    margin-top: 32px;
  }

  @include modifier('hidden') {
    display: none;
  }

  &--no-asterisks {
    .required-field:after {
      // Override the asterisk
      content: "" !important;
    }
  }

  // Overwriting Formio style
  .control-label--hidden {
    position: static !important;
  }

  .has-error {
    @extend .denhaag-form-field--error;

    .denhaag-form-field__description {
      display: none;
    }

    .openforms-errors.denhaag-form-field__description {
      display: block;
    }

    .denhaag-textfield__input {
      @extend .denhaag-textfield__input--invalid;
    }

    .denhaag-textarea__input {
      @extend .denhaag-textarea__input--invalid;
    }
  }
}

.openforms-form-control--radio {
  .denhaag-checkbox {
    @extend .denhaag-radio;

    .denhaag-checkbox__icon {
      @extend .denhaag-radio__icon;
    }
  }
}
