@use 'microscope-sass/lib/bem';

// @import instead of @use because breakpoints are defined globally
@import 'microscope-sass/lib/responsive';

/**
 * Custom component to manage our form layout, arranging body and progress indicator.
 *
 * The default values are added for backwards compatibility.
 */
.openforms-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'body progress-indicator';
  grid-column-gap: var(--of-form-grid-column-gap, 20px);
  position: relative;

  @include bem.modifier('body-only') {
    grid-template-columns: 1fr;
    grid-template-areas: 'body';
  }

  @include bem.element('body') {
    grid-area: body;
  }

  @include bem.element('progress-indicator') {
    grid-area: progress-indicator;
  }

  @include mobile-only {
    grid-row-gap: var(--of-form-grid-mobile-row-gap, 15px);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'progress-indicator'
      'body';

    @include bem.element('progress-indicator') {
      position: sticky;
      top: 0;
      margin-inline-end: var(--of-form-progress-indicator-mobile-margin-inline-end, -15px);
      margin-inline-start: var(--of-form-progress-indicator-mobile-margin-inline-start, -15px);
    }
  }
}
