@use 'microscope-sass/lib/bem';

.govmetric_snippet {
  list-style: none;
  padding-block-end: 1em;
  padding-block-start: 1em;

  ul {
    padding-left: 0px;
  }

  @include bem.element('faces') {
    display: flex;
    gap: 2em;

    @include mobile-only {
      justify-content: space-between;
    }
  }

  @include bem.element('face') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
