@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(help-text)} {
  @include body;
  @include border(left, var(--of-color-info, $color-info), 4px);
  padding: calc((var(--of-grid-row-height, #{$grid-row-height}) - var(--of-typography-line-height-text, #{$typography-line-height-text}) * var(--of-typography-font-size-text, #{$typography-font-size-text})) / 2)  var(--of-grid-margin-3, #{$grid-margin-3});
  padding-left: calc(var(--of-grid-margin-3, #{$grid-margin-3}) - 4px);
  position: relative;
}

.#{prefix(help-text)}::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 4px);
  background-color: var(--of-color-info, $color-info);
  filter: brightness(80%) opacity(15%);
  margin: calc(-1 * (var(--of-grid-row-height, #{$grid-row-height}) - var(--of-typography-line-height-text, #{$typography-line-height-text}) * var(--of-typography-font-size-text, #{$typography-font-size-text})) / 2)  var(--of-grid-margin-3, #{$grid-margin-3});
  margin-left: calc(-1 * var(--of-grid-margin-3, #{$grid-margin-3}));
}
