@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(help-text)} {
  @include body;
  @include border(left, var(--of-color-info), 4px);
  background-color: var(--of-helptext-color-bg);
  $help-text-line-height: $typography-line-height-text * $typography-font-size-text;
  padding: calc((#{$grid-row-height} - #{$help-text-line-height}) / 2)  $grid-margin-3;
  padding-left: $grid-margin-3 - 4px;
}
