@use 'microscope-sass/lib/bem';

@import '@utrecht/components/dist/form-field-description/css/index.css';

// Extensions of the utrecht-form-field component, scoped to our own theme.
.openforms-theme {
  .utrecht-form-field-description {
    @include bem.modifier('openforms-helptext') {
      --_border-left-width: var(--of-utrecht-form-field-description-border-left-width);
      line-height: var(--of-utrecht-form-field-description-line-height, 1.5);
      background-color: var(--of-utrecht-form-field-description-background-color);
      border-left-style: solid;
      border-left-color: var(--of-utrecht-form-field-description-border-left-color);
      border-left-width: var(--_border-left-width);
      padding-block-end: var(--of-utrecht-form-field-description-padding-block);
      padding-block-start: var(--of-utrecht-form-field-description-padding-block);
      padding-inline-end: var(--of-utrecht-form-field-description-padding-inline);
      padding-inline-start: calc(
        var(--of-utrecht-form-field-description-padding-inline) - var(--_border-left-width)
      );
    }
  }
}
