@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(input)} {
  @include body;
  @include border(all, $size: 1px);
  @include rows(1);

  appearance: none;
  border-radius: 0;
  font-weight: bold;
  padding: $grid-margin-2;
  width: 100%;

  @include modifier('time') {
    width: 4em;
  }

  &:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
}

// aliases that are also text inputs, but have their own class names:

$aliases: email, iban;

@each $alias in $aliases {
  .#{prefix($alias)} {
    @extend .#{prefix(input)};
  }
}
