@use 'microscope-sass/lib/bem';

@import '@utrecht/components/dist/textbox/css/index.css';

$input-padding: $grid-margin-2;

.utrecht-textbox {
  @include bem.modifier('openforms') {
    font-weight: var(--of-input-font-weight, normal);
  }
}

// overrides of the utrecht-textbox component specific to our theme
.openforms-theme {
  .utrecht-textbox {
    @include bem.modifier('openforms-time') {
      width: calc(5ch + 2 * $input-padding);
    }
  }
}
