@use './anchor';
@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(label)} {
  @include body;
  @include body--big;
  @include anchor.extend-utrecht-link;
  display: block;
  font-weight: var(--of-label-font-weight);

  // .field-required is deprecated, use the modifier instead.
  &.field-required {
    &:after {
      content: '*';
      color: var(--of-color-danger);
      z-index: 0; // otherwise this is above the progress indicator in some browsers
    }
  }

  @include bem.modifier('required') {
    &:after {
      content: '*';
      color: var(--of-color-danger);
      z-index: 0; // otherwise this is above the progress indicator in some browsers
    }
  }
}

.#{prefix(char-count)},
.#{prefix(word-count)},
.#{prefix(prefix)},
.#{prefix(suffix)} {
  @include body;
  color: var(--of-color-fg-muted);
}
