@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(label)} {
  @include body;
  @include body--big;
  display: block;
  font-weight: var(--of-label-font-weight);

  &.field-required:after {
    content: '*';
    color: var(--of-color-danger);
    z-index: 0; // otherwise this is above the progress indicator in some browsers
  }
}

.#{prefix(char-count)},
.#{prefix(word-count)},
.#{prefix(prefix)},
.#{prefix(suffix)} {
  @include body;
  color: var(--of-color-fg-muted);
}
