@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(label)} {
  @include body;
  @include body--big;
  display: block;

  &.field-required:after {
    content: '*';
    color: var(--of-color-red, $color-red);
    z-index: 1;  // otherwise this is above the progress indicator
  }
}

.#{prefix(char-count)},
.#{prefix(word-count)},
.#{prefix(prefix)},
.#{prefix(suffix)} {
  @include body;
  color: var(--of-color-gray-darker, $color-gray-darker);
}
