@import '~microscope-sass/lib/typography';

@import '@utrecht/components/dist/alternate-lang-nav/css/index.css';

/**
 * Allow using different spacing rules for this specific component
 */
.utrecht-alternate-lang-nav {
  .utrecht-button-group {
    gap: var(--of-language-selection-gap, var(--utrecht-button-group-inline-gap, 0.2em));
    align-items: center;

    // ensure spacer font-size is the same as the button
    > span[aria-hidden='true'] {
      @include body;
      @include body--big;
    }
  }

  .openforms-button {
    padding: 0;
  }

  // if we are not rendering in a designated portal node, ensure it's aligned to the
  // right
  @at-root .openforms-app__language-switcher & {
    margin-inline-start: auto;
    margin-block-end: var(--of-language-selection-in-app-margin-block-end);
  }
}

@include mobile-only {
  .utrecht-alternate-lang-nav {
    .utrecht-button-group {
      flex-direction: row;
    }
  }
}
