@import 'microscope-sass/lib/typography';

@import '@utrecht/components/dist/alternate-lang-nav/css/index.css';

/**
 * Allow using different spacing rules for this specific component
 */
.utrecht-alternate-lang-nav {
  .utrecht-button-group {
    gap: var(--of-language-selection-gap, var(--utrecht-button-group-inline-gap, 0.2em));
    align-items: center;

    // ensure spacer font-size is the same as the button
    > span[aria-hidden='true'] {
      @include body;
      @include body--big;
    }
  }

  // if we are not rendering in a designated portal node, ensure it's aligned to the
  // right
  @at-root .openforms-app__language-switcher & {
    --utrecht-button-group-padding-block-end: var(--of-language-selection-in-app-padding-block-end);
    --utrecht-button-group-padding-block-start: var(
      --of-language-selection-in-app-padding-block-start
    );
    margin-inline-start: auto;

    @include mobile-only {
      --utrecht-button-group-padding-block-end: var(
        --of-language-selection-in-app-mobile-padding-block-end,
        var(--of-language-selection-in-app-padding-block-end)
      );
      --utrecht-button-group-padding-block-start: var(
        --of-language-selection-in-app-mobile-padding-block-start,
        var(--of-language-selection-in-app-padding-block-start)
      );
    }
  }
}

@include mobile-only {
  .utrecht-alternate-lang-nav {
    .utrecht-button-group {
      flex-direction: row;
    }
  }
}
