.openforms-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-auto-flow: column;
  margin-inline: 100px;
}

.openforms-layout__row {
  grid-column: 3 / 11;
}

.openforms-layout__header {
  grid-column: 1 / 13;
}
