@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix('layout')} {
  background-color: var(--utrecht-document-background-color);
  display: flex;
  flex-direction: column;

  @include element('row') {
    @include container(flex);
    @include responsive(flex-direction, column, row);

    @include mobile-only {
      @include container-margin($properties: margin-top);
      @include container-margin($properties: margin-bottom);
      padding: 0;
    }

    @include modifier('secondary') {
      @include hide-on-mobile(flex);

      @media print {
        display: none;
      }
    }
  }

  @include element('column') {
    display: flex;
    flex-direction: column;

    &:first-child:last-child {
      @include columns-responsive(4, 9, 12, 12);
    }

    &:first-child:not(last-child) {
      @include columns-responsive(4, 5, 8, 8);
    }

    &:not(:first-child):last-child {
      @include columns-responsive(4, 4, 4, 4);
    }

    @include modifier('secondary') {
      @media print {
        display: none;
      }
    }

    @include mobile-only {
      @each $i in (1, 2, 3, 4) {
        @include modifier(mobile-order-#{$i}) {
          order: #{$i};
        }
      }

      @include modifier('mobile-sticky') {
        position: sticky;
        z-index: 1;
        top: $grid-container-margin;

        > * {
          @include margin(-$grid-container-margin, $properties: margin-top);
        }

        // force the maximum height, so that when it's expanded, the content overflows and
        // overlays the actual form
        max-height: calc(#{2 * $grid-container-margin} + #{$typography-line-height-text-big-mobile * $typography-font-size-text-big-mobile});
      }

      @include modifier('mobile-padding-top') {
        @include margin($grid-container-margin, $properties: padding-top);
      }
    }
  }
}
