@use 'microscope-sass/lib/bem';
@import 'leaflet-geosearch/dist/geosearch.css';

@import '../mixins/prefix';

.#{prefix(leaflet-map)} {
  height: 400px;
  position: relative;
  z-index: 0;

  @include bem.modifier('disabled') {
    cursor: default;
  }
}
