@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix('list')} {

  .#{prefix('caption')} + & {
    @include margin(true, $properties: margin-top);
  }

  list-style: none;
  margin: 0;
  padding: 0;

  @include element('item') {
    @include body;
    @include body--big;
  }

  &:not(#{&}--compact, #{&}--extra-compact) &__item {
    @include margin;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include modifier('compact') {
    @include element('item') {
      @include margin($value-mobile: var(--of-grid-margin-1, $grid-margin-1));
    }
  }

  @include modifier('extra-compact') {
    @include element('item') {
      @include margin(false);
    }
  }

  @include modifier('dash') {
    @include element('item') {
      &:before {
        @include body;
        @include margin(var(--of-grid-margin-0, $grid-margin-0), $properties: margin-right);
        content: '\2013';
      }
    }
  }
}
