@use 'microscope-sass/lib/bem';

@import '@utrecht/components/dist/unordered-list/css/index';

@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix('list')} {
  .#{prefix('caption')} + & {
    @include margin(true, $properties: margin-top);
  }

  list-style: none;
  margin: 0;
  padding: 0;

  @include bem.element('item') {
    @include body;
    @include body--big;
  }

  &:not(#{&}--compact, #{&}--extra-compact) &__item {
    @include margin;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include bem.modifier('compact') {
    @include bem.element('item') {
      @include margin($value-mobile: $grid-margin-1);
    }
  }

  @include bem.modifier('extra-compact') {
    @include bem.element('item') {
      @include margin(false);
    }
  }

  @include bem.modifier('dash') {
    @include bem.element('item') {
      &:before {
        @include body;
        @include margin($grid-margin-0, $properties: margin-right);
        content: '\2013';
      }
    }
  }
}
