@use 'microscope-sass/lib/bem';

@import '@utrecht/components/dist/unordered-list/css/index';

@import 'microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix('list')} {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: var(--of-list-gap, 20px);

  @include bem.element('item') {
    @include body;
    @include body--big;
  }

  // TODO: check if this can be removed
  &:not(#{&}--compact, #{&}--extra-compact) &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include bem.modifier('compact') {
    --of-list-gap: var(--of-list-compact-gap, 8px);
  }

  @include bem.modifier('extra-compact') {
    --of-list-gap: var(--of-list-extra-compact-gap, 0px);
  }

  @include bem.modifier('dash') {
    @include bem.element('item') {
      &:before {
        @include body;
        @include margin($grid-margin-0, $properties: margin-right);
        content: '\2013';
      }
    }
  }
}
