@use 'microscope-sass/lib/bem';

@import '../settings';
@import '../mixins/prefix';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// deprecated - can be removed when the formio.js dependency is dropped
.#{prefix('loading')} {
  display: flex;
  align-items: center;
  @include margin(true, $properties: margin-bottom);

  @include bem.modifier('centered') {
    justify-content: center;
  }

  @include bem.modifier('only-child') {
    margin-bottom: 0;
  }

  @include bem.modifier('small') {
    @include bem.element('spinner') {
      width: 15px;
      height: 15px;
      border-width: 4px;
      border-top-width: 4px;
    }
  }

  @include bem.modifier('gray') {
    @include bem.element('spinner') {
      border-color: var(--utrecht-button-disabled-color);
      border-top-color: var(--utrecht-button-disabled-background-color);
    }
  }

  @include bem.element('spinner') {
    border: 6px solid var(--of-color-secondary);
    border-top: 6px solid var(--of-color-primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
}

// apply vertical spacing to the new spinner component
.openforms-loading-indicator + * {
  margin-block-start: 20px;
}
