@import "../settings";
@import '../mixins/bem';
@import '../mixins/prefix';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.#{prefix('loading')} {
  display: flex;
  align-items: center;
  @include margin(true, $properties: margin-bottom);

  @include modifier('centered') {
    justify-content: center;
  }

  @include element('spinner') {
    margin-right: 20px;
    border: 6px solid $color-secondary;
    border-top: 6px solid $color-primary;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
}


