@import "../settings";
@import '../mixins/bem';
@import '../mixins/prefix';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.#{prefix('loading')} {
  display: flex;
  align-items: center;
  @include margin(true, $properties: margin-bottom);

  @include modifier('centered') {
    justify-content: center;
  }

  @include modifier('only-child') {
    margin-bottom: 0;
  }

  @include modifier('small') {
    @include element('spinner') {
      width: 15px;
      height: 15px;
      border-width: 4px;
      border-top-width: 4px;
    }
  }

  @include element('spinner') {
    border: 6px solid var(--of-color-secondary);
    border-top: 6px solid var(--of-color-primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
}


