@use 'sass:math';
@use '@open-formulieren/formio-renderer/scss/responsive';

.openforms-login-button {
  display: flex;
  align-items: center;
  gap: 8px;

  &:not(:last-child) {
    margin-block-end: 8px;
  }
}

.openforms-theme {
  .openforms-login-button {
    @include responsive.mobile-only {
      gap: 0;
      .utrecht-button,
      .utrecht-button-link {
        inline-size: 75%;
        justify-content: flex-start;
      }
    }
  }
}
