@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/responsive';

@import '../mixins/prefix';

.#{prefix(login-button-logo)} {
  display: flex;
  align-items: center;

  @include mobile-only {
    width: 25%;
    justify-content: center;
  }

  &__image {
    max-height: $grid-row-height;
    max-width: $grid-row-height;
  }
}

.#{prefix(login-button-logo--dark)} {
  max-height: $grid-row-height;
  max-width: $grid-row-height;
  &:focus,
  &:focus-visible {
    border-color: var(--of-login-button-logo-dark-focus-color-border) !important;
    border-width: 2px !important;
    outline: var(--of-login-button-logo-dark-focus-color-border) solid 2px;
  }
}

.#{prefix(login-button-logo--light)} {
  max-height: $grid-row-height;
  max-width: $grid-row-height;
  &:focus,
  &:focus-visible {
    border-color: var(--of-login-button-logo-light-focus-color-border) !important;
    border-width: 2px !important;
    outline: var(--of-login-button-logo-light-focus-color-border) solid 2px;
  }
}
