@use 'microscope-sass/lib/bem';

@import 'microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(login-options)} {
  @include body;

  @include bem.element('list') {
    @include margin(auto);
  }

  @include bem.element('caption') {
    @include h2;
    @include margin(auto);
  }

  @include bem.element('cosign') {
    padding-block: var(--of-login-options-cosign-padding-block);
    padding-inline: var(--of-login-options-cosign-padding-inline);
    background-color: var(--of-login-options-cosign-background-color);
  }
}
