@use 'microscope-sass/lib/bem';

@import 'microscope-sass/lib/responsive';

.openforms-login-button-logo {
  display: inline-flex;
  align-items: center;

  &:focus,
  &:focus-visible {
    border-color: var(--_of-login-button-logo-focus-color-border);
    border-width: 2px;
    outline: var(--_of-login-button-logo-focus-color-border) solid 2px;
    outline-offset: 1px;
    border-radius: var(--of-login-button-focus-border-radius, 1px);
  }

  @include mobile-only {
    width: 25%;
    justify-content: center;
  }

  @include bem.modifier('dark') {
    --_of-login-button-logo-focus-color-border: var(--of-login-button-logo-dark-focus-color-border);
  }
  @include bem.modifier('light') {
    --_of-login-button-logo-focus-color-border: var(
      --of-login-button-logo-light-focus-color-border
    );
  }

  &__image {
    max-height: var(--of-login-button-logo-image-max-max-height, 46px);
    max-width: var(--of-login-button-logo-image-max-max-width, 46px);
  }
}
