@use 'sass:math';

@import 'microscope-sass/lib/grid';
@import 'microscope-sass/lib/responsive';

.openforms-login-button {
  display: flex;
  align-items: center;
  gap: math.div($grid-container-margin-base, 2);

  @include margin(auto, margin-bottom, math.div($grid-container-margin-base, 2));
}

.openforms-theme {
  .openforms-login-button {
    @include mobile-only {
      gap: 0;
      .utrecht-button,
      .utrecht-button-link {
        inline-size: 75%;
        justify-content: flex-start;
      }
    }
  }
}
