@import 'microscope-sass/lib/color';
@import 'microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(multi-value-row)} {
  @include body;

  display: flex;
  align-items: center;

  // add more vertical spacing between rows
  &:not(:last-child) > td {
    margin-bottom: $grid-margin-1;
  }

  &__input {
    width: 100%;
  }
}
