@use "./checkbox";
@import '../mixins/prefix';
@import '~microscope-sass/lib/typography';

.#{prefix(privacy-checkbox)} {

  &__input {
    @extend .#{prefix(checkbox)};

    &--warning {
      border-color: $color-danger;
      border-width: thin;
      border-style: solid;
    }
  }

  &__label {
    @extend .#{prefix(checkbox)}__label;
  }

  &__wyswyg-text {
    // This is needed because the label is populated with the value coming from a WYSIWYG editor
    // which adds <p></p> around each paragraph in the text. This tag gets a margin which looks off.
    // So here it is overwritten.
    @include wysiwyg;
    p {
      @include body('auto');
    }
  }

  &__checkmark {
    @extend .#{prefix(checkbox)}__checkmark;
  }
}
