@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

@mixin nested($classname) {
  .#{prefix($classname)} {
    @content;
  }
}

.#{prefix('progress-indicator')} {
  @extend .openforms-card; // TODO -> syntax highlighting trips on #{prefix('card')}

  @include element('mobile-header') {
    @include body;
    @include body--big;
    @include margin(-$grid-container-margin, $properties: margin-left);

    // style for replacing div with a button for accessibility
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font-family: $typography-font-family-base !important;
    cursor: pointer;

    @include show-on-mobile(flex);
    align-items: center;

    .fa-icon {
      display: block;
      width: $grid-container-margin * 2;
      text-align: center;
    }

    span {
      font-weight: bold;
    }
  }

  // mobile styling for the progress indicator
  @include mobile-only {
    @include margin($grid-container-margin, $properties: (padding-top, padding-bottom));
    box-shadow: var(--of-progress-indicator-mobile-box-shadow);

    // style layout
    @at-root .#{prefix('layout__row')} & {
      @include margin(calc(-1 * var(--of-progress-indicator-mobile-margin)),
        $properties: (margin-left, margin-right));
    }

    @include nested('caption') {
      @include margin(true, $properties: margin-top);
      @include margin($grid-container-margin, $properties: margin-left);
    }

    @include nested('list') {
      @include margin($grid-container-margin, $properties: margin-left);
    }

    @include modifier('mobile-collapsed') {
      @include nested('caption') {
        display: none;
      }

      @include nested('list') {
        display: none;
      }
    }
  }
}

.#{prefix('progress-indicator-item')} {
  display: flex;
  justify-content: flex-start;

  @include element('marker') {
    width: 1em;
  }

  @include element('label') {
    flex-grow: 1;
  }
}