@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

@mixin nested($classname) {
  .#{prefix($classname)} {
    @content;
  }
}

.#{prefix('progress-indicator')} {
  @extend .openforms-card; // TODO -> syntax highlighting trips on #{prefix('card')}

  // sticky sidebar
  position: -webkit-sticky;
  position: sticky;
  top: $grid-margin-4;

  @include bem.element('mobile-header') {
    @include body;
    @include body--big;
    @include margin(-$grid-container-margin, $properties: margin-left);

    // style for replacing div with a button for accessibility
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: calc(100% + $grid-container-margin);

    @include show-on-mobile(flex);

    align-items: center;

    .fa-icon {
      display: block;
      flex-shrink: 0;
      flex-basis: $grid-container-margin * 2;
      text-align: center;
    }
  }

  @include bem.element('active-step') {
    @include ellipsis;
    font-weight: bold;
  }

  // mobile styling for the progress indicator
  @include mobile-only {
    @include margin($grid-container-margin, $properties: (padding-top, padding-bottom));
    box-shadow: var(--of-progress-indicator-mobile-box-shadow);

    // style layout
    @at-root .#{prefix('layout__row')} & {
      @include margin(
        calc(-1 * var(--of-progress-indicator-mobile-margin)),
        $properties: (margin-left, margin-right)
      );
    }

    @include nested('caption') {
      @include margin(true, $properties: margin-top);
      @include margin($grid-container-margin, $properties: margin-left);
    }

    @include nested('list') {
      @include margin($grid-container-margin, $properties: margin-left);
    }

    @include bem.modifier('mobile-collapsed') {
      @include nested('caption') {
        display: none;
      }

      @include nested('list') {
        display: none;
      }
    }
  }
}

.#{prefix('progress-indicator-item')} {
  display: flex;
  justify-content: flex-start;

  @include bem.element('marker') {
    width: 1em;
    flex-shrink: 0;
  }

  @include bem.element('label') {
    flex-grow: 1;
    word-break: break-all;
  }
}
