@use 'microscope-sass/lib/bem';

// Design tokens: see src/components/radio-field.tokens.json

// Extensions on NL DS component
.utrecht-form-field {
  @include bem.modifier('openforms') {
    &.utrecht-form-field--radio {
      background-color: var(--of-utrecht-form-field-radio-background-color, var(--of-checkbox-bg));

      & + & {
        margin-block-start: var(--of-utrecht-form-field-radio-margin-block-start);
      }

      .utrecht-radio-button {
        margin-block-start: var(--of-utrecht-form-label-radio-padding-block-start);
        margin-inline-start: var(--of-utrecht-form-label-radio-padding-inline-start);
      }

      .utrecht-form-label--radio, .utrecht-form-field-description.utrecht-form-field__description {
        padding-block-end: var(--of-utrecht-form-label-radio-padding-block-end);
        padding-block-start: var(--of-utrecht-form-label-radio-padding-block-start);
        padding-inline-end: var(--of-utrecht-form-label-radio-padding-inline-end);
        padding-inline-start: var(--of-utrecht-form-label-radio-padding-inline-start);
      }

      .utrecht-form-field__label {
        --utrecht-form-field-label-margin-block-end: var(
          --of-utrecht-form-field-radio-label-margin-block-end
        );
      }

      &:focus-within {
        outline: var(--of-utrecht-form-label-radio-focus-within-outline);
      }
    }
  }
}
