@use 'sass:math';
@use 'microscope-sass/lib/bem';
@use '@utrecht/components/select';

/**
 * Additional styles for react-select component, using the utrecht-select as base.
 *
 * The utrecht-select component currently only appears to support native HTML selects
 * rather than dynamic-with-search-field select library solutions.
 *
 * See https://nl-design-system.github.io/utrecht/storybook/?path=/docs/css-component-select--docs
 * for the upstream component.
 *
 * We opt for react-select now, but do plan to replace our own usage with the community
 * component whenever it becomes available and is feature complete, across the SDK,
 * formio-builder and formio-renderer libraries.
 *
 * Note that we deliberately do not scope these styles under .openforms-theme and don't
 * adhere to BEM methodology in a strict way so that we don't pollute the utrecht
 * namespace.
 */
.utrecht-select {
  @include bem.modifier('openforms') {
    & + .rs-menu {
      --_rs-menu-border-color: var(
        --utrecht-select-border-color,
        var(--utrecht-form-control-border-color, var(--of-field-border-color))
      );

      background-color: var(
        --of-select-menu-background-color,
        var(--utrecht-select-background-color, var(--of-color-bg, #fff))
      );
      border: var(--of-select-menu-border, solid 1px var(--_rs-menu-border-color));
      border-radius: var(--of-select-menu-border-radius, 0);
      box-shadow: var(
        --of-select-menu-box-shadow,
        0 0 0 1px hsla(0, 0%, 0%, 0.1),
        0 4px 11px hsla(0, 0%, 0%, 0.1)
      );
      margin-block-start: var(--of-select-menu-margin-block-start, 0);
      margin-block-end: var(--of-select-menu-margin-block-end, 0);
      max-inline-size: var(
        --utrecht-select-max-inline-size,
        var(--utrecht-form-control-max-inline-size)
      );

      .rs-menu__option {
        padding-block-start: var(--of-select-menu-option-padding-block-start, 4px);
        padding-block-end: var(--of-select-menu-option-padding-block-end, 4px);
        padding-inline-start: var(--of-select-menu-option-padding-inline-start, 8px);
        padding-inline-end: var(--of-select-menu-option-padding-inline-end, 8px);
        font-weight: var(--of-select-menu-option-font-weight, normal);

        &--focus,
        &--focus-visible {
          background-color: var(
            --of-select-menu-option-focus-background-color,
            var(--of-select-highlighted-bg, #e6e6e6)
          );
        }
      }

      .rs-no-options {
        padding-block-start: var(--of-select-menu-option-padding-block-start, 4px);
        padding-block-end: var(--of-select-menu-option-padding-block-end, 4px);
        padding-inline-start: var(--of-select-menu-option-padding-inline-start, 8px);
        padding-inline-end: var(--of-select-menu-option-padding-inline-end, 8px);
      }
    }
  }
}
