@import '~microscope-sass/lib/typography';

@import '../mixins/bem';

.signature-pad-body {
  @include margin(auto, $value-mobile: 0.5em);
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
  z-index: 0; // otherwise this is above the progress indicator

  @include element('image') {
    width: 100%;
    display: none;
  }
}

.signature-pad-footer {
  @include text;
  color: var(--of-color-fg-muted);
}