@use 'sass:math';

@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';
@import '../mixins/bem';

$block: '.#{prefix('summary-row')}';

#{$block} {
  $summary-row-spacing: var(--of-summary-row-spacing);

  @include body;
  @include margin(true, $properties: padding-top, $value-mobile: $summary-row-spacing);
  @include laptop {
    display: flex;
  }

  @include element('label') {
    overflow-wrap: break-word;

    @include mobile-only {
      font-weight: bold;
    }

    @include laptop {
      flex-grow: 1;
      max-width: 50%;
      box-sizing:border-box;
      padding-right: $grid-margin-1;
    }
  }

  @include element('value'){
    overflow-wrap: break-word;

    @include laptop {
      flex-grow: 1;
      max-width: 50%;
    }
  }

  @include modifier('fieldset') {
    &:not(:first-child) {
      @include margin($properties: padding-top);
    }

    @include element('label') {
      @include h4(true, $margin-properties: margin-bottom);
      font-weight: bold;
    }
  }

  // TODO Fix so that the label of the repetitions don't have the
  //  same style as the parent repeating group
  @include modifier('editgrid') {
    &:not(:first-child) {
      @include margin($properties: padding-top);
    }

    @include element('label') {
      @include h4(true);
      font-weight: bold;
    }
  }

  &:last-child {
    @include margin(true, $properties: padding-bottom);
  }
}
