@use 'microscope-sass/lib/bem';

@import '@utrecht/components/dist/textarea/css/index.css';
@import 'microscope-sass/lib/grid';

.utrecht-textarea {
  @include bem.modifier('openforms') {
    font-weight: var(--of-input-font-weight, normal);
  }
}

.openforms-theme {
  .utrecht-textarea {
    @include rows(3, min-height, $force: true);
    height: inherit;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    width: 100%;
  }
}
