@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

@import '../mixins/bem';
@import '../mixins/prefix';

.#{prefix(toolbar)} {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  @media print {
    display: none;
  }

  @include modifier('start') {
    justify-content: flex-start;
  }

  @include mobile-only {
    display: block;

    @include modifier('mobile-reverse-order') {
      display: flex;
      flex-direction: column-reverse;
      margin-top: $typography-margin-text;

      > * {
        width: 100%;
      }

      @include element('list') {
        flex-direction: column-reverse;
        &:not(:last-child) {
          margin: $typography-margin-text 0 0 0;
        }
      }

      @include element('list-item') {
        @include margin(auto, $properties: margin-bottom, $value-mobile: 0);
        @include margin(auto, $properties: margin-top, $value-mobile: $typography-margin-list);
        &:last-child {
          padding-bottom: 0 !important;
        }
      }
    }

    @include element('list') {
      @include margin(auto, $properties: margin-bottom);
    }

    @include element('list-item') {
      @include margin(auto, $properties: margin-bottom, $value-mobile: $typography-margin-list);

      .#{prefix('button')}:not(.#{prefix('button--image')}) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  @include element('list') {
    @include responsive(flex-direction, column, column, row);
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--start &__list {
    @include breakpoint($min: $breakpoint-tablet) {
      @include margin($properties: margin-right);
    }
  }

  @include element('list-item') {
    @include rows(1, 'min-height');
    display: flex;
    align-items: center;

    @include laptop {
      @include margin($properties: margin-right);
    }
  }

  @include breakpoint($max: $breakpoint-laptop) {
    &__list:last-child &__list-item:last-child {
      padding-bottom: $typography-margin-base;
    }
  }

  .image {
    @include margin($properties: margin-right);
    float: left;
    height: 34px;
  }
}
