/**
 * Styles for the tooltip icon and tooltip itself.
 *
 * Note that this is originally bootstrap-styled, but we avoid loading those (massive)
 * stylesheets. This is a MVP implementation to get something useable until we have our
 * own custom formio renderer and possibly an NL DS tooltip component.
 */

.openforms-tooltip-icon {
  color: var(--of-tooltip-icon-color, inherit);
}

.tooltip {
  z-index: 1;

  &,
  & * {
    box-sizing: border-box;
  }

  &-arrow {
    position: absolute;
    z-index: 2;
    height: var(--of-tooltip-arrow-height);
    width: var(--of-tooltip-arrow-width);

    &:before {
      position: absolute;
      content: '';
      border-color: transparent;
      border-style: solid;
      border-bottom-width: calc(var(--of-tooltip-arrow-height) * 0.5);
      border-top-width: calc(var(--of-tooltip-arrow-height) * 0.5);
    }
  }

  &-inner {
    background-color: var(
      --of-tooltip-background-color,
      var(--utrecht-document-background-color, #dfdfdf)
    );
    border-style: var(--of-tooltip-border-style, solid);
    border-width: var(--of-tooltip-border-width);
    border-color: var(--of-tooltip-border-color, black);
    border-radius: var(--of-tooltip-border-radius, 0);
    box-shadow: var(--of-tooltip-box-shadow, unset);
    color: var(--of-tooltip-color, inherit);
    font-family: var(--of-tooltip-font-family, var(--utrecht-document-font-family));
    font-size: var(--of-tooltip-font-size);
    padding-block-end: var(--of-tooltip-padding-block-end);
    padding-block-start: var(--of-tooltip-padding-block-start);
    padding-inline-end: var(--of-tooltip-padding-inline-end);
    padding-inline-start: var(--of-tooltip-padding-inline-start);
  }

  &[x-placement^='right'] {
    .tooltip-inner {
      margin-left: inherit; // undo formio tweak
      transform: translateX(var(--of-tooltip-offset));
    }

    .tooltip-arrow {
      border-right: none; // undo formio tweak
      left: calc(var(--of-tooltip-arrow-width) * -1);
      transform: translateX(var(--of-tooltip-offset));
    }

    .tooltip-arrow:before {
      border-left-width: 0;
      border-right-width: var(--of-tooltip-arrow-width);
      border-right-color: var(--of-tooltip-arrow-color);
      right: 0;
    }
  }

  &[x-placement^='left'] {
    .tooltip-inner {
      margin-right: inherit; // undo formio tweak
      transform: translateX(calc(var(--of-tooltip-offset) * -1));
    }

    .tooltip-arrow {
      border-left: none; // undo formio tweak
      right: calc(var(--of-tooltip-arrow-width) * -1);
      transform: translateX(calc(var(--of-tooltip-offset) * -1));
    }

    .tooltip-arrow:before {
      border-right-width: 0;
      border-left-width: var(--of-tooltip-arrow-width);
      border-left-color: var(--of-tooltip-arrow-color);
      left: 0;
    }
  }
}
