@use '@bbt/bem';

@import 'microscope-sass/lib/grid';
@import 'microscope-sass/lib/typography';

.openforms-title {
  // This will break long words, but will respect any soft hyphens
  word-break: normal;
  overflow-wrap: anywhere;
}

.openforms-body {
  @include body(auto);
  clear: both;

  @include bem.modifier(small) {
    @include body--small;
  }

  @include bem.modifier(big) {
    @include body--big;
  }

  @include bem.modifier(muted) {
    color: var(--of-color-fg-muted);
  }
}
