@use 'microscope-sass/lib/bem';
@use './anchor';

@import '@utrecht/components/dist/heading-1/css/index';
@import '@utrecht/components/dist/heading-3/css/index';

@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

@import '../mixins/prefix';

.#{prefix(title)} {
  // This will break long words, but will respect any soft hyphens
  word-break: normal;
  overflow-wrap: anywhere;
}

.#{prefix(subtitle)} {
  @include h2(auto);
}

.#{prefix(caption)} {
  @include h2(auto);
}

.#{prefix(body)} {
  @include body(auto);
  clear: both;

  @include bem.modifier(small) {
    @include body--small;
  }

  @include bem.modifier(big) {
    @include body--big;
  }

  @include bem.modifier(wysiwyg) {
    @include wysiwyg;
    @include anchor.extend-utrecht-link;
  }

  @include bem.modifier(muted) {
    color: var(--of-color-fg-muted);
  }
}
