/**
* Temporary workaround until we refactor more to NL Design System components.
*/
@use 'microscope-sass/lib/bem';

.openforms-privacy-checkbox {
  display: flex;
  flex-direction: column;
  gap: var(--of-privacy-checkbox-spacing, 8px);
}

.openforms-statement-checkboxes {
  display: flex;
  flex-direction: column;
  gap: var(--of-privacy-checkbox-spacing, 8px);

  @include bem.modifier('single-step-form') {
    margin-block-start: var(--of-form-field-container-gap, 240px);
  }
}
