<div class="{{ctx.ofPrefix}}form-choices utrecht-form-fieldset__fieldset utrecht-form-fieldset__fieldset--html-fieldset">
  <div class="{{ctx.ofPrefix}}form-choices__choice utrecht-form-field utrecht-form-field--checkbox">
    <input
      ref="input"
      id="{{ctx.instance.id}}-{{ctx.component.key}}"

      {% for (var attr in ctx.input.attr) { %}
        {{attr}}="{{ctx.input.attr[attr]}}"
      {% } %}

      {% if (ctx.checked) { %}checked=true{% } %}
    >
      {{ctx.input.content}}
    </input>

    <div class="{{ctx.ofPrefix}}form-choices__checkmark"></div>

    <label class="{{ctx.ofPrefix}}form-choices__label utrecht-form-label utrecht-form-label--checkbox {% if (ctx.disabled) { %}utrecht-form-label--disabled{% } %}  {% if (ctx.component.validate.required) { %}required-field utrecht-form-label--required{% } %} {{ctx.input.labelClass}}" for="{{ctx.instance.id}}-{{ctx.component.key}}">
      {{ctx.input.label}}&nbsp
      {% if (!ctx.component.validate.required && !ctx.requiredFieldsWithAsterisk) { %}
          {{ ctx.t('(optional)') }}
      {% } %}
      {% if (ctx.component.tooltip) { %}
        <i ref="tooltip" class="{{ctx.iconClass('question-sign')}}" data-tooltip="{{ ctx.tooltip }}"></i>
      {% } %}
    </label>
  </div>
</div>
