<div class="{{ctx.ofPrefix}}checkbox utrecht-form-field utrecht-form-field--checkbox">
    <{{ctx.input.type}}
      ref="input"
      {% for (var attr in ctx.input.attr) { %}
      {{attr}}="{{ctx.input.attr[attr]}}"
      {% } %}
      id="{{ctx.instance.id}}-{{ctx.component.key}}"
      {% if (ctx.checked) { %}checked=true{% } %}
    >

        {{ctx.input.content}}
    </{{ctx.input.type}}>

    <div class="{{ctx.ofPrefix}}checkbox__checkmark"></div>
    <label class="{{ctx.ofPrefix}}checkbox__label utrecht-form-label utrecht-form-label--checkbox {% if (item.disabled) { %}utrecht-form-label--disabled{% } %} {{ctx.input.labelClass}}" for="{{ctx.instance.id}}-{{ctx.component.key}}">
        {{ctx.input.label}}&nbsp;
        {% if (ctx.component.tooltip) { %}
            <i ref="tooltip" class="{{ctx.iconClass('question-sign')}}"></i>
        {% } %}

  </label>
</div>
