<div
    id="{{ctx.id}}"
    class="{{ctx.classes}} {% if (!ctx.requiredFieldsWithAsterisk) { %}{{ctx.ofPrefix}}form-control--no-asterisks{% } %}"
    {% if (ctx.styles) { %} styles="{{ctx.styles}}"{% } %} ref="component"
>
    {% if (ctx.visible) { %}
      {{ctx.children}}
    {% } %}
  <div ref="messageContainer" class="{{ctx.ofPrefix}}errors" aria-live="{{ctx.component.validateOn === 'blur' ? 'assertive' : 'polite'}}" aria-atomic="true"></div>
</div>
