  {% for (const key in ctx.flattenedComponents) { %}
      {% if (ctx.isVisibleInRow(ctx.flattenedComponents[key]) && ctx.flattenedComponents[key].label) { %}
          <div>{{ctx.flattenedComponents[key].label}}: {{ ctx.getView(ctx.flattenedComponents[key], ctx.row[key]) }}</div>
      {% } %}
  {% } %}

{% if (!ctx.self.options.readOnly) { %}
  <p class="utrecht-button-group utrecht-button-group--openforms-editgrid" role="group">
    <button class="utrecht-button utrecht-button--secondary-action editRow">
      <i class="{{ ctx.iconClass('edit') }}"></i>
    </button>
    <button class="utrecht-button utrecht-button--primary-action utrecht-button--danger removeRow">
      <i class="{{ ctx.iconClass('trash-can') }}"></i>
    </button>
  </p>
{% } %}
