{% if (ctx.component.type === 'radio' || ctx.component.type === 'selectboxes') { %}
  <div class="utrecht-form-fieldset">
    <fieldset
      class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset"
      {% if (ctx.component.type === 'radio') { %}role="radiogroup"{% } %}
      {% if (ctx.component.description) { %}aria-describedby="{{ctx.id}}-description"{% } %}
    >

      <legend class="utrecht-form-fieldset__legend utrecht-form-fieldset__legend--html-legend utrecht-form-field__label">
        <span class="utrecht-form-label{% if (ctx.component.validate.required){%} utrecht-form-label--openforms-required{%}%}">
          {{ ctx.t(ctx.component.label, { _userInput: true }) }}
          {% if (!ctx.component.validate.required && !ctx.requiredFieldsWithAsterisk) { %}
            {{ ctx.t('(optional)') }}
          {% } %}
          {% if (ctx.component.tooltip) { %}
            <i ref="tooltip" class="openforms-tooltip-icon {{ctx.iconClass('question-sign')}}"data-tooltip="{{ ctx.tooltip }}"></i>
          {% } %}
        </span>
      </legend>

      {{ctx.element}}

      {% if (ctx.component.description) { %}
        <div
          class="utrecht-form-field-description utrecht-form-field-description--openforms-helptext"
          id="{{ctx.id}}-description"
        >
          {{ctx.component.description}}
        </div>
      {% } %}

    </fieldset>
  </div>

{% } else { %}
  <div class="utrecht-form-field utrecht-form-field--{{ctx.component.type}} utrecht-form-field--openforms">
  {% if (!ctx.label.hidden && ctx.label.labelPosition !== 'bottom') { %}
    {{ ctx.labelMarkup }}
  {% } %}

  {% if (ctx.label.hidden && ctx.label.className && ctx.component.validate.required) { %}
    <label class="utrecht-form-label utrecht-form-label--openforms-required {{ctx.label.className}}"></label>
  {% } %}

  {{ctx.element}}

  {% if (!ctx.label.hidden && ctx.label.labelPosition === 'bottom') { %}
    {{ ctx.labelMarkup }}
  {% } %}

  {% if (ctx.component.description) { %}
    <div class="utrecht-form-field-description utrecht-form-field-description--openforms-helptext">{{ctx.component.description}}</div>
  {% } %}
  </div>
{% } %}
