{%/* taken from https://github.com/formio/formio.js/blob/v4.12.7/src/templates/bootstrap/file/form.ejs */%}
{% if (!ctx.disabled && ((ctx.component.multiple && ctx.files.length < ctx.component.maxNumberOfFiles) || !ctx.files.length)) { %}
{% if (ctx.self.useWebViewCamera) { %}
<div class="fileSelector">
    <button class="btn btn-primary" ref="galleryButton"><i class="fa fa-book"></i> {{ctx.t('Gallery')}}</button>
    <button class="btn btn-primary" ref="cameraButton"><i class="fa fa-camera"></i> {{ctx.t('Camera')}}</button>
</div>
{% } else if (!ctx.self.cameraMode) { %}
<div class="fileSelector" ref="fileDrop" {{ctx.fileDropHidden ? 'hidden' : ''}}>
<i class="{{ctx.iconClass('cloud-upload')}}"></i>
    <div>
    {% if (ctx.component.multiple) { %}
    {{ctx.t('Drop files,')}}
    {% } else { %}
    {{ctx.t('Drop a file,')}}
    {% } %}

    {% if (ctx.self.imageUpload) { %}
    <a href="#" ref="toggleCameraMode"><i class="fa fa-camera"></i> {{ctx.t('Use Camera,')}}</a>
    {% } %}

    {{ctx.t('or')}}
    <a href="#" ref="fileBrowse" class="browse">{{ctx.t('browse')}}</a>

    {% if (ctx.component.multiple) { %}
    {{ctx.t('to attach files.')}}
    {% } else { %}
    {{ctx.t('to attach a file.')}}
    {% } %}
    </div>
</div>
    {% } else { %}
<div>
    <video class="video" autoplay="true" ref="videoPlayer"></video>
</div>
<button class="btn btn-primary" ref="takePictureButton"><i class="fa fa-camera"></i> {{ctx.t('Take Picture')}}</button>
<button class="btn btn-primary" ref="toggleCameraMode">{{ctx.t('Switch to file upload')}}</button>
{% } %}
{% } %}
{% ctx.statuses.forEach(function(status) { %}
<div class="file {{status.status === 'error' ? ' has-error' : ''}}">
    <div class="row openforms-file-upload__file">
        <div class="openforms-file-upload__file-icon-container">
            <span class="openforms-file-upload__file-icon"></span>
        </div>
        <div class="openforms-file-upload__file-label-container">
            <div class="openforms-file-upload__file-label">
                <span class="fileName__file">{{status.originalName}}</span>
                <span>({{ctx.fileSize(status.size)}})</span>
            </div>
            <div>
                {% if (status.status === 'progress') { %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{status.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status.progress}}%">
                        <span class="sr-only">{{status.progress}}% {{ctx.t('Complete')}}</span>
                    </div>
                </div>
                {% } else if (status.status === 'error') { %}
                <div class="openforms-file-upload__file-error">{{ctx.t(status.message)}}</div>
                {% } else { %}
                <div class="denhaag-form-field__file-message">{{ctx.t(status.message)}}</div>
                {% } %}
            </div>
        </div>
        <button class="denhaag-icon-button" ref="fileStatusRemove" aria-label="{{ctx.t('remove')}}">
            <span><i class="{{ctx.iconClass('remove')}}" title="{{ctx.t('remove')}}"></i></span>
        </button>
    </div>
</div>
{% }) %}
{% if (!ctx.component.storage || ctx.support.hasWarning) { %}
<div class="alert alert-warning">
    {% if (!ctx.component.storage) { %}
    <p>{{ctx.t('No storage has been set for this field. File uploads are disabled until storage is set up.')}}</p>
    {% } %}
    {% if (!ctx.support.filereader) { %}
    <p>{{ctx.t('File API & FileReader API not supported.')}}</p>
    {% } %}
    {% if (!ctx.support.formdata) { %}
    <p>{{ctx.t("XHR2's FormData is not supported.")}}</p>
    {% } %}
    {% if (!ctx.support.progress) { %}
    <p>{{ctx.t("XHR2's upload progress isn't supported.")}}</p>
    {% } %}
</div>
{% } %}
{% if (!ctx.self.imageUpload) { %}
<ul class="list-group list-group-striped">
    {% ctx.files.forEach(function(file) { %}
    <li class="list-group-item">
        <div class="row openforms-file-upload__file">
            {% if (!ctx.disabled) { %}
            <div class="openforms-file-upload__file-icon-container">
                <span class="openforms-file-upload__file-icon"></span>
            </div>
            {% } %}
            <div class="openforms-file-upload__file-label-container">
                <div class="openforms-file-upload__file-label">
                    {% if (ctx.component.uploadOnly) { %}
                    {{file.originalName || file.name}}
                    {% } else { %}
                    <a href="{{file.url || '#'}}" target="_blank" ref="fileLink">{{file.originalName || file.name}}</a>
                    {% } %}
                    <span>({{ctx.fileSize(file.size)}})</span>
                </div>
            </div>
            {% if (ctx.self.hasTypes && !ctx.disabled) { %}
            <div class="col-md-2">
                <select class="file-type" ref="fileType">
                    {% ctx.component.fileTypes.map(function(type) { %}
                    <option class="test" value="{{ type.value }}" {% if (type.label === file.fileType) { %}selected="selected"{% } %}>{{ type.label }}</option>
                    {% }); %}
                </select>
            </div>
            {% } %}
            {% if (ctx.self.hasTypes && ctx.disabled) { %}
            <div class="col-md-2">{{file.fileType}}</div>
            {% } %}
            <button class="denhaag-icon-button" ref="removeLink" aria-label="{{ctx.t('remove')}}">
                <span><i class="{{ctx.iconClass('remove')}}" title="{{ctx.t('remove')}}"></i></span>
            </button>
        </div>
    </li>
    {% }) %}
</ul>
{% } else { %}
<div>
    {% ctx.files.forEach(function(file) { %}
    <div>
        <span>
          <img ref="fileImage" src="" alt="{{file.originalName || file.name}}" style="width:{{ctx.component.imageSize}}px">
          {% if (!ctx.disabled) { %}
            <i class="{{ctx.iconClass('remove')}}" ref="removeLink"></i>
          {% } %}
        </span>
    </div>
    {% }) %}
</div>
{% } %}
