<p class="utrecht-paragraph utrecht-form-field__label">
  <label
    class="utrecht-form-label {{ctx.label.className}} {% if (ctx.component.validate.required) { %}utrecht-form-label--openforms-required{% } %}"
    for="{{ctx.instance.id}}-{{ctx.component.key}}"
  >
    {{ ctx.t(ctx.component.label, { _userInput: true }) }}
    {% if (!ctx.component.validate.required && !ctx.requiredFieldsWithAsterisk) { %}
      {{ ctx.t('(optional)') }}
    {% } %}
    {% if (ctx.component.tooltip) { %}
      <i ref="tooltip" class="{{ctx.iconClass('question-sign')}}" data-tooltip="{{ ctx.tooltip }}"></i>
    {% } %}
  </label>
</p>
