<tr class="{{ctx.ofPrefix}}multi-value-row" ref="row">
  <td class="{{ctx.ofPrefix}}multi-value-row__input">
    {{ctx.element}}
  </td>
  {% if (!ctx.disabled) { %}
  <td class="{{ctx.ofPrefix}}multi-value-row__remove">
    <button type="button" class="{{ctx.ofPrefix}}button {{ctx.ofPrefix}}button--icon-only {{ctx.ofPrefix}}button--danger" title="{{ctx.t('Remove')}}" ref="removeRow">
      <i class="{{ctx.iconClass('trash-can')}}"></i>
    </button>
  </td>
  {% } %}
</tr>
