<!-- rendered by both radio and selectboxes component -->
{% ctx.values.forEach(function(item) { %}
<div class="utrecht-form-field utrecht-form-field--{{ctx.component.inputType}} utrecht-form-field--openforms">
  <p class="utrecht-paragraph utrecht-form-field__label utrecht-form-field__label--{{ctx.component.inputType}}">
    <label
      for="{{ctx.id}}{{ctx.row}}-{{item.value}}"
      class="utrecht-form-label utrecht-form-label--{{ctx.component.inputType}} {% if (ctx.disabled) { %}utrecht-form-label--disabled{% } %}"
    >
      {{ item.label }}
    </label>
  </p>
  <input
    ref="input"
    value="{{item.value}}"
    id="{{ctx.id}}{{ctx.row}}-{{item.value}}"

    {% for (var attr in ctx.input.attr) { %}
    {{attr}}="{{ctx.input.attr[attr]}}"
    {% } %}

    {% if (ctx.value && (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value]))) { %}
    checked=true
    {% } %}
  >
</div>
{% }) %}
