<div>
    {% ctx.values.forEach(function(item) {
        let inputType = ctx.input.attr['type'];
    %}
    <label class="denhaag-form-control-label">
        <span class="denhaag-form-control-label__input">
            <span class="denhaag-{{inputType}}">
                <{{ctx.input.type}}
                    ref="input"

                    {% for (var attr in ctx.input.attr) { %}
                      {{attr}}="{{ctx.input.attr[attr]}}"
                    {% } %}

                    value="{{item.value}}"

                    {% if (ctx.value && (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value]))) { %}
                      checked=true
                    {% } %}

                    {% if (item.disabled) { %}
                      disabled=true
                    {% } %}

                    id="{{ctx.id}}{{ctx.row}}-{{item.value}}"

                    class="denhaag-checkbox__input"
                >
                    {{ctx.input.content}}
                </{{ctx.input.type}}>
                <span class="denhaag-{{inputType}}__icon">
                    {% if (inputType == 'radio') { %}
                    <span class="denhaag-radio__icon-inner"></span>
                    {% } else if (inputType == 'checkbox') { %}
                    <span class="denhaag-icon"></span>
                    {% } %}
                </span>
            </span>
        </span>
        {% if (!ctx.component.optionsLabelPosition || ctx.component.optionsLabelPosition === 'right' ||
        ctx.component.optionsLabelPosition === 'bottom') { %}
        <span class="denhaag-form-control-label__label">
            {{ctx.t(item.label)}}
        </span>
        {% } %}
    </label>
</div>
{% }) %}
</div>
