{% if (ctx.prefix || ctx.suffix) { %}
<div class="group">
    {% } %}
    {% if (ctx.prefix) { %}
    <div class="prefix" ref="prefix">
        {% if(ctx.prefix instanceof HTMLElement){ %}
        {{ ctx.t(ctx.prefix.outerHTML) }}
        {% } else{ %}
        {{ ctx.t(ctx.prefix) }}
        {% } %}
    </div>
    {% } %}
    <div class="denhaag-input">
        <{{ctx.input.type}}
        ref="{{ctx.input.ref ? ctx.input.ref : 'input'}}"
        {% for (var attr in ctx.input.attr) { %}
        {{attr}}="{{ctx.input.attr[attr]}}"
        {% } %}
        id="{{ctx.instance.id}}-{{ctx.component.key}}">
            {{ctx.input.content}}
        </{{ctx.input.type}}>
    </div>
{% if (ctx.component.showCharCount) { %}
<span class="charcount" ref="charcount"></span>
{% } %}
{% if (ctx.component.showWordCount) { %}
<span class="wordcount" ref="wordcount"></span>
{% } %}
{% if (ctx.suffix) { %}
<div class="suffix" ref="">
    {% if(ctx.suffix instanceof HTMLElement){ %}
    {{ ctx.t(ctx.suffix.outerHTML) }}
    {% } else{ %}
    {{ ctx.t(ctx.suffix) }}
    {% } %}
</div>
{% } %}
{% if (ctx.prefix || ctx.suffix) { %}
</div>
{% } %}
