@use 'microscope-sass/lib/bem';

// @import instead of @use because breakpoints are defined globally
@import 'microscope-sass/lib/responsive';

// This is a temporary solution because dealing with Formio for that is a pain. It will
// be properly addressed in the new renderer.
.utrecht-form-field--addressNL
  > .utrecht-form-field__label
  > .utrecht-form-label--openforms-required {
  &:after {
    content: none;
  }
}

.openforms-addressnl {
  // only apply the 'double styling' in the old renderer otherwise the columns take a
  // quarter of the space instead of half.
  @at-root [ref='addressNLContainer'] & {
    display: grid;
  }

  grid-template-columns: var(--_of-addressnl-grid-template-columns, 1fr);
  grid-column-gap: var(--of-addressnl-column-gap, 8px);
  grid-row-gap: var(--of-addressnl-row-gap, var(--of-form-field-container-gap, 24px));

  @include bem.modifier('double-column') {
    --_of-addressnl-grid-template-columns: 1fr 1fr;

    @include mobile-only {
      grid-template-columns: 1fr;
    }
  }
}

.openforms-summary address {
  font-style: normal;
}
