// Note: the styles here are only relevant in dev mode with `yarn start`
@import '~leaflet/dist/leaflet';
@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/responsive';
@import 'scss/settings';

body {
  padding: 0;
  margin-top: $grid-margin-4;
  background-color: #E6E6E6;

  @include mobile-only {
    margin: 0;
    padding: 0;
  }
}

#root {
  margin: 0 auto;
}
