@import '~leaflet/dist/leaflet';
@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/responsive';
@import 'scss/settings';
@import 'scss/ReactModal';

body {
  padding: 0;
  margin-top: $grid-margin-4;
  background-color: $color-gray;

  @include mobile-only {
    margin: 0;
    padding: 0;
  }
}

#root {
  margin: 0 auto;
}
