// Note: the styles here are only relevant in dev mode with `npm start`
@use '@open-formulieren/formio-renderer/scss/responsive';

body {
  margin-block-end: 24px;
  margin-block-start: 24px;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 0;
  background-color: #e6e6e6;

  @include responsive.mobile-only {
    margin: 0;
    padding: 0;
  }
}

#root {
  margin: 0 auto;
  max-inline-size: 1200px;
}
