// Open Forms SDK styles
// TODO: we should see if we can re-use even smaller bits to shed dead weight and
// reduce the bundle size
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~formiojs/dist/formio.form.css";

@import "./scss/settings";

@import "./scss/components/button";
@import "./scss/components/checkbox";
@import "./scss/components/errors";
@import "./scss/components/form";
@import "./scss/components/form-choices";
@import "./scss/components/form-control";
@import "./scss/components/help-text";
@import "./scss/components/input";
@import "./scss/components/label";
@import "./scss/components/select";
@import "./scss/components/textarea";
@import "./scss/components/toolbar";
@import "./scss/components/tooltip";
