// Open Forms SDK styles
// TODO: we should see if we can re-use even smaller bits to shed dead weight and
// reduce the bundle size
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~flatpickr/dist/flatpickr.min.css';
@import "~formiojs/dist/formio.form.css";
@import "~@gemeente-denhaag/components-css/dist/index";

@import "./scss/settings";

@import "./scss/components/typography";
@import "./scss/components/fa-icon";

@import "./scss/components/alert";
@import "./scss/components/anchor";
@import "./scss/components/button";
@import "./scss/components/card";
@import "./scss/components/checkbox";
@import "./scss/components/content";
@import "./scss/components/errors";
@import "./scss/components/form";
@import "./scss/components/form-choices";
@import "./scss/components/form-control";
@import "./scss/components/form-step";
@import "./scss/components/header";
@import "./scss/components/help-text";
@import "./scss/components/image";
@import "./scss/components/input";
@import "./scss/components/label";
@import "./scss/components/list";
@import "./scss/components/layout";
@import "./scss/components/select";
@import "./scss/components/table";
@import "./scss/components/textarea";
@import "./scss/components/toolbar";
@import "./scss/components/tooltip";
@import "./scss/components/fieldset";
@import "./scss/components/loading";
@import "./scss/components/progress-indicator";
@import "./scss/components/file-upload";
@import "./scss/components/privacy-checkbox";
@import "./scss/components/columns";
@import "./scss/components/price";
@import "./scss/components/multi-value-row";
@import "./scss/components/multi-value-table";
@import "./scss/components/react-modal";
@import "./scss/components/summary-row";
@import "./scss/components/co-sign";
@import "./scss/components/leaflet-map";
@import "./scss/components/signature";
