@use '@open-formulieren/formio-renderer/scss/responsive';

@include responsive.mobile-only {
  .openforms-theme {
    --of-modal-padding-block-start: 20px;
    --of-modal-padding-block-end: 20px;
    --of-modal-padding-inline-start: 12px;
    --of-modal-padding-inline-end: 12px;
    --of-modal-header-margin-inline-end: 36px;
    --of-modal-sheet-inline-size: 100dvw;

    --of-help-callout-page-dialog-flex-direction: column;
    --of-help-callout-page-dialog-padding-block-end: 2em;
    --of-help-callout-page-dialog-padding-block-start: 2em;
    --of-help-callout-page-dialog-padding-inline-end: 2em;
    --of-help-callout-page-dialog-padding-inline-start: 2em;

    --of-step-help-dialog-image-align-self: center;

    // don't full-width the help button on mobile (styles defined in renderer)
    .openforms-step-topnav .utrecht-button.openforms-form-help-button {
      display: inline-flex;
      inline-size: var(--utrecht-button-inline-size, auto);
      justify-content: var(--utrecht-button-justify-content, center);
      text-align: unset;
    }
  }
}
