@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

.leaflet-draw-actions {
  margin-top: -1px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  // Make sure all action bars are the same height
  a,
  &.leaflet-draw-actions-top a,
  &.leaflet-draw-actions-bottom a {
    height: 30px;
    line-height: 30px;
  }

  a {
    background-color: #fff;
    border-color: #ccc;

    &:hover,
    &:focus {
      background-color: #f4f4f4;
    }
  }
}
