name: Run CI

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches:
      - main
      - stable/*
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

env:
  IMAGE_NAME: openformulieren/open-forms-sdk

jobs:
  setup:
    name: Set up the build variables
    runs-on: ubuntu-latest
    outputs:
      # see https://github.com/orgs/community/discussions/26671
      version: ${{ steps.vars.outputs.version }}
      git_hash: ${{ steps.vars.outputs.git_hash }}
    steps:
      - uses: actions/checkout@v4
      - name: Extract version info
        id: vars
        uses: maykinmedia/open-api-workflows/actions/extract-version@v6

  build:
    name: Create 'production' build
    runs-on: ubuntu-latest

    needs: setup

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: |
          npm ci
          npm run build:design-tokens

      - name: Run type checker
        run: npm run build:typecheck

      - name: Build Javascript
        run: |
          echo "Building version $VITE_VERSION"
          VITE_VERSION=${VITE_VERSION} npm run build
        env:
          VITE_VERSION: ${{ needs.setup.outputs.version }}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Store build artifact
        uses: actions/upload-artifact@v4
        with:
          name: sdk-build
          path: dist/
          retention-days: 1

  tests:
    name: Run Javascript tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: |
          npm test -- --coverage
        env:
          CI: 'true'

      - name: Publish coverage report
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: vitest

  linting:
    name: Lint code (${{ matrix.tool.name }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        tool:
          - name: Prettier
            script: checkformat
          - name: ESLint
            script: lint

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run ${{ matrix.tool.name }} linter
        run: npm run ${{ matrix.tool.script }}

  i18n-check:
    name: Check i18n messages extracted
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: open-formulieren/actions/check-message-extraction@v1
        with:
          paths: src/i18n/{compiled,messages}
          extraction-command: npm run makemessages
          compilation-command: ./bin/compilemessages.sh

      # Only actually does anything in release/* branches or for pushed tags
      - uses: open-formulieren/actions/check-missing-translations@v1
        with:
          messages-path: src/i18n/messages
          locales: nl

  publish:
    name: Publish the NPM package
    runs-on: ubuntu-latest
    needs:
      - setup
      - build
      - tests
      - linting
      - i18n-check

    # do not publish in forks or non-tag pushes
    if: startsWith(github.ref, 'refs/tags/') && github.repository_owner == 'open-formulieren'

    environment:
      name: release
      url: https://www.npmjs.com/package/@open-formulieren/sdk
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: npm
          registry-url: 'https://registry.npmjs.org'
          scope: '@open-formulieren'

      - name: Install dependencies
        run: |
          # update npm
          npm install --global npm@latest
          npm ci

      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: sdk-build
          path: dist/

      - name: Publish package to NPM
        run: |
          mv README.npm.md README.md
          npm run prepare-package

          case "${{ needs.setup.outputs.version }}" in
            *"-alpha."*) npm_tag=next ;;
            *"-beta."*) npm_tag=next ;;
            *"-rc."*) npm_tag=next ;;
            *) npm_tag=latest ;;
          esac

          npm publish --access public --tag="$npm_tag"

  docker:
    name: Build (and push) Docker image
    runs-on: ubuntu-latest

    needs: setup

    steps:
      # This will include the updated OAS (if updated) from the update-oas job.
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build the Docker image
        run: |
          docker build . \
          --build-arg SDK_VERSION=${RELEASE_VERSION} \
          --tag $IMAGE_NAME:$RELEASE_VERSION
        env:
          RELEASE_VERSION: ${{ needs.setup.outputs.version }}

      - name: Log into registry
        if: github.event_name == 'push' && github.repository_owner == 'open-formulieren' # Exclude PRs / forks
        run:
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u ${{ secrets.DOCKER_USERNAME }}
          --password-stdin

      - name: Push the Docker image
        if: github.event_name == 'push' && github.repository_owner == 'open-formulieren' # Exclude PRs / forks
        run: docker push $IMAGE_NAME:$RELEASE_VERSION
        env:
          RELEASE_VERSION: ${{ needs.setup.outputs.version }}

  update-docker-readme:
    needs:
      - docker
    uses: ./.github/workflows/dockerhub-description.yml
    if: github.event_name == 'push' && github.repository_owner == 'open-formulieren' # Exclude PRs / forks
    with:
      image_name: openformulieren/open-forms-sdk
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
